node_modules/
uploads/*
!uploads/.gitkeep
public/results/*
!public/results/.gitkeep
.env
.DS_Store
*.log
test_scraper.js

# Ignore academic SCM files
*.pdf
c1/
c2/
prj_original/
proj files/
*.mp4
*.webm

